body * {
  box-sizing: border-box;
}

body {
  background-color: #101D40;
}

body.default {
  background-color: #101D40;
}

body.prerelease {
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(115deg, #1e6ad0 45%, #56CCF2 75%, #e4d6ae 95%);
  background: linear-gradient(115deg, #1e6ad0 45%, #56CCF2 75%, #e4d6ae 95%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-bg-img {
  position: relative;
}

.text-logo {
  width: 46%;
  position: absolute;
  top: 29%;
  left: 6%;
}

.text-date {
  position: absolute;
  left: 16%;
  bottom: 16%;
  width: 18%;  
}

.lee-oscar-badge {
	overflow: hidden;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	position: absolute;
	top: -35px;
	left: -35px;
	z-index: 1;
	padding: 10px;
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.width-container.home-bg {
  text-align: center;
}

.centered {
  text-align: center;
}

.homepage-content {
  color: #fff;
}

.main-description {
  margin-top: -210px;
}

.video-container {
  margin-top: 40px;
  position: relative;
  width: 80%;
  margin: 40px auto;
}

.pre-release-text,
.save-the-date-text {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

@media only screen and (min-width: 767px) {
  .pre-release-text,
  .save-the-date-text {
    font-size: 50px;
  }
}

.save-the-date-text {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1;
  margin-top: 30px;
}

.background-image--home {
  padding-bottom: 320px;
}

/* Home Styles */
.logo--home {
  max-width: 520px;
  margin: 0 auto;
  display: block;
  padding: 40px 0;
}

#about {
  background: rgba(113, 153, 165, 0.9);
}

/* Homepage Scheulde Styles */
.no-artists-headline {
  margin: 0 auto;
  text-align: center;
}

/* Homepage Schedule Widget */
.schedule-summary-pro,
#filterOptions-pro {
  display: none !important;
}

.early-bird-pricing {
  background: #f3f3f3;
  padding: 20px 10px 10px;
  margin-bottom: 20px;
}

.early-bird-pricing .from {
  font-size: .95em !important;
}

.price-product-page .early-bird-pricing {
  padding: 10px 10px 10px;
}

.price-product-page .early-bird-pricing p.from,
.price-product-page .regular-pricing p.from {
  margin: 0;
}



.regular-pricing .amount {
  font-size: 1.5em !important;
  color: #7b7b7b !important;
}

@media only screen and (min-width: 767px) {
  .background-image--home {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1023px) {
  .background-image--home {
    padding-bottom: 320px;
  }
}

@media only screen and (max-width: 767px) {
  .logo--home {
    max-width: 520px;
    margin: 0 auto;
    display: block;
    padding: 20px 0;
    width: 60%;
  }
  
  .background-image--home {
    padding-bottom: 50px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.video-column h3 {
  margin: 0;
  font-size: 30px;
}

.gallery-icon {
  border: solid 5px #fff;
}
