.woocommerce ul.products li.product .price .from {
  color: #989898;
}

.woocommerce span.onsale,
.woocommerce span.soldout {
  border-radius: 0;
  padding: 5px 10px;
  border: solid 1px #55943b;
}

@media only screen and (max-width: 767px) {
  .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product  {
    margin-left: 1%;
    margin-right: 1%;
    width: 31.3%;
    clear: none;
  }
}
